<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head_fragment(title = 'ユーザー情報一覧', scripts = ~{::script}, links = ~{::link})}"></head>
<body>
    <div class="container">
        <!--/* ログインエラー時にメッセージを表示 */-->
        <div th:if="${validationError}" th:each="error : ${validationError}">
            <label class="text-danger" th:text="${error}"></label>
        </div>
        <h1 class="my-3">ログイン</h1>
        <hr>
        <form th:action="@{/user/login}" th:object="${userLoginRequest}" th:method="post">
            <table class="table table-bordered col-md-6">
            <tr class="form-group">
                <th class="align-middle">名前</th>
                <td><input type="text" class="form-controll" th:field="*{name}"></td>
            </tr>
            <tr class="form-group">
                <th class="align-middle">パスワード</th>
                <td><input type="password" class="form-controll" th:field="*{password}"></td>
            </tr>
            </table>
            <div>
                <input type="submit" class="btn btn-primary" value="ログイン">
            </div>
        </form>
    </div>
</body>
</html>